apiVersion: apps/v1
kind: Deployment
metadata:
  name: stockstat-core$APPID
  labels:
    app: core$APPID
spec:
  replicas: 1
  selector:
    matchLabels:
      app: core$APPID
  template:
    metadata:
      labels:
        app: core$APPID
    spec:
      initContainers:
      - name: stockstat-sparkinit
        image: stockstat-sparkdata$APPID
        command: ["/bin/sh", "-c", "cp -R /data/* /newdata/"]
        volumeMounts:
        - name: stockstat-sparkdatavol
          mountPath: /newdata
      containers:
      - name: stockstat-core
        image: stockstat-core$IMGID
        ports:
        - containerPort: 8000
        - containerPort: 80
        volumeMounts:
        - name: stockstat-sparkdatavol
          mountPath: /data
      volumes:
      - name: stockstat-sparkdatavol
        persistentVolumeClaim:
          claimName: stockstat-sparkdatapv
---
apiVersion: v1
kind: Service
metadata:
  name: stockstat-core$APPID
  labels:
    app: core$APPID
spec:
  type: NodePort
  ports:
  - port: 8000
    name: stockstat-debug
    protocol: TCP
    targetPort: 8000
  - port: 80
    name: stockstat-web
    protocol: TCP
    targetPort: 80
  selector:
    app: core$APPID
  sessionAffinity: None  
status:
  loadBalancer: {}    
---
apiVersion: networking.k8s.io/v1
kind: IngressClass
metadata:
  labels:
    app.kubernetes.io/component: controller
  name: stockstat-core$APPID
  annotations:
    ingressclass.kubernetes.io/is-default-class: "false"
spec:
  controller: k8s.io/ingress-nginx
---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: name-virtual-host-ingress-stockstat-core$APPID
spec:
  ingressClassName: stockstat-core$APPID
  rules:
  - host: $MYSERVER
    http:
      paths:
      - pathType: Prefix
        path: "/"
        backend:
          service:
            name: stockstat-core$APPID-debug
            port:
              number: 8000
          service:
            name: stockstat-core$APPID
            port:
              number: 80
