apiVersion: apps/v1
kind: Deployment
metadata:
  name: core
  labels:
    app: core
spec:
  replicas: 1
  selector:
    matchLabels:
      app: core
  template:
    metadata:
      labels:
        app: core
    spec:
      containers:
      - name: core
        image: core
        ports:
        - containerPort: 8000
        - containerPort: 80
---
apiVersion: v1
kind: Service
metadata:
  name: core
  labels:
    app: core
spec:
  type: NodePort
  ports:
  - port: 8000
    name: debug
    protocol: TCP
    targetPort: 8000
  - port: 80
    name: web
    protocol: TCP
    targetPort: 80
  selector:
    app: core
  sessionAffinity: None  
status:
  loadBalancer: {}    
---
apiVersion: networking.k8s.io/v1
kind: IngressClass
metadata:
  labels:
    app.kubernetes.io/component: controller
  name: core
  annotations:
    ingressclass.kubernetes.io/is-default-class: "false"
spec:
  controller: k8s.io/ingress-nginx
---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: name-virtual-host-ingress-core
spec:
  ingressClassName: core
  rules:
  - host: $MYSERVER
    http:
      paths:
      - pathType: Prefix
        path: "/"
        backend:
          service:
            name: core-debug
            port:
              number: 8000
          service:
            name: core
            port:
              number: 80
