apiVersion: apps/v1
kind: Deployment
metadata:
  name: stockstat-pdfred
  labels:
    app: pdfred
spec:
  replicas: 1
  selector:
    matchLabels:
      app: pdfred
  template:
    metadata:
      labels:
        app: pdfred
    spec:
      containers:
      - name: stockstat-pdfred
        image: stockstat-pdfred$IMGID
        #imagePullPolicy: Never
