  <h1>control panel</h1>
  <tasklist>control panel</tasklist>
  <button class="mat-raised-button" (click)="invalidatecache($event)">Invalidate cache</button>
  <button class="mat-raised-button" (click)="dbupdatestart($event)">Db update start</button>
  <button class="mat-raised-button" (click)="dbupdateend($event)">Db update end</button>
  <button class="mat-raised-button" (click)="eventpause($event)">Event pause</button>
  <button class="mat-raised-button" (click)="eventcontinue($event)">Event continue</button>
