  <h1>evolve</h1>
  <button class="mat-raised-button" (click)="resetRecommender($event)">Reset recommender</button>
  <button class="mat-raised-button" (click)="evolveRecommender($event)">Evolve recommender</button>
  <button class="mat-raised-button" (click)="evolveAndSetRecommender($event)">Evolve recommender and set</button>
  <br/>
  <button class="mat-raised-button" (click)="resetMLMACD($event)">Reset MLMACD</button>
  <button class="mat-raised-button" (click)="evolveMLMACD($event)">Evolve MLMACD</button>
  <button class="mat-raised-button" (click)="evolveAndSetMLMACD($event)">Evolve MLMACD and set</button>
  <br/>
  <button class="mat-raised-button" (click)="resetMlindicator($event)">Reset mlindicator</button>
  <button class="mat-raised-button" (click)="evolveMlindicator($event)">Evolve mlindicator</button>
  <button class="mat-raised-button" (click)="evolveAndSetMlindicator($event)">Evolve mlindicator and set</button>
  <br/>
  <button class="mat-raised-button" (click)="resetPredictorLSTM($event)">Reset predictor lstm</button>
  <button class="mat-raised-button" (click)="evolvePredictorLSTM($event)">Evolve predictor lstm</button>
  <button class="mat-raised-button" (click)="evolveAndSetPredictorLSTM($event)">Evolve predictor lstm and set</button>
  <br/>
  
