apiVersion: apps/v1
kind: Deployment
metadata:
  name: stockstat-pytorch
  labels:
    app: pytorch
spec:
  replicas: 1
  selector:
    matchLabels:
      app: pytorch
  template:
    metadata:
      labels:
        app: pytorch
    spec:
      initContainers:
      - name: stockstat-pytorchinit
        image: stockstat-pytorchdata$APPID
        command: ["/bin/sh", "-c", "cp -R /data/* /newdata/"]
        volumeMounts:
        - name: stockstat-pytorchdatavol
          mountPath: /newdata
      containers:
      - name: stockstat-pytorch
        image: stockstat-pytorch$IMGID
        ports:
        - containerPort: 80
        volumeMounts:
        - name: stockstat-pytorchdatavol
          mountPath: /data
      volumes:
      - name: stockstat-pytorchdatavol
        persistentVolumeClaim:
          claimName: stockstat-pytorchdatapv$APPID
---
apiVersion: v1
kind: Service
metadata:
  name: stockstat-pytorch$APPID
  labels:
    app: pytorch
spec:
  type: NodePort
  ports:
  - port: 80
    protocol: TCP
    targetPort: 80
  selector:
    app: pytorch
  sessionAffinity: None  
status:
  loadBalancer: {}    
---
apiVersion: networking.k8s.io/v1
kind: IngressClass
metadata:
  labels:
    app.kubernetes.io/component: controller
  name: stockstat-pytorch$APPID
  annotations:
    ingressclass.kubernetes.io/is-default-class: "false"
spec:
  controller: k8s.io/ingress-nginx
---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: name-virtual-host-ingress-stockstat-pytorch$APPID
spec:
  ingressClassName: stockstat-pytorch$APPID
  rules:
  - host: $MYPT
    http:
      paths:
      - pathType: Prefix
        path: "/"
        backend:
          service:
            name: stockstat-pytorch$APPID-debug
            port:
              number: 8000
          service:
            name: stockstat-pytorch$APPID
            port:
              number: 80
