<config>
  <misc>
    <shutdownhour>$SHUTDOWNHOUR</shutdownhour>
    <populate enable="$POPULATE"/>
    <cache enable='$CACHE'>
      <ttl>$CACHETTL</ttl>
    </cache>
    <abnormalchange>$ABNORMALCHANGE</abnormalchange>
    <myservices>$MYSERVICESICORE</myservices>
    <services>$SERVICES</services>
    <communications>$COMMUNICATIONS</communications>
    <zookeeper>$ZOOKEEPER</zookeeper>
    <inmemory><server>$INMEMORYSERVER</server></inmemory>
    <inmemory><redis>$INMEMORYREDIS</redis></inmemory>
    <inmemory>
    <pipeline enable="$INMEMORYPIPELINE">
    <batchsize>$PIPELINEBATCHSIZE</batchsize>
    </pipeline>
    </inmemory>
  </misc>
  <mp>
    <server>
      <cpu>0.5</cpu>
    </server>
    <client>
      <cpu>0.5</cpu>
    </client>
  </mp>
</config>
