apiVersion: apps/v1
kind: Deployment
metadata:
  name: icore$APPID
  labels:
    app: icore$APPID
spec:
  replicas: 1
  selector:
    matchLabels:
      app: icore$APPID
  template:
    metadata:
      labels:
        app: icore$APPID
    spec:
      containers:
      - name: icore
        image: icore
        ports:
        - containerPort: 8000
        - containerPort: 80
---
apiVersion: v1
kind: Service
metadata:
  name: icore$APPID
  labels:
    app: icore$APPID
spec:
  type: NodePort
  ports:
  - port: 8000
    name: debug
    protocol: TCP
    targetPort: 8000
  - port: 80
    name: web
    protocol: TCP
    targetPort: 80
  selector:
    app: icore$APPID
  sessionAffinity: None  
status:
  loadBalancer: {}    
---
apiVersion: networking.k8s.io/v1
kind: IngressClass
metadata:
  labels:
    app.kubernetes.io/component: controller
  name: stockstat-icore$APPID
  annotations:
    ingressclass.kubernetes.io/is-default-class: "false"
spec:
  controller: k8s.io/ingress-nginx
---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: name-virtual-host-ingress-icore$APPID
spec:
  ingressClassName: stockstat-icore$APPID
  rules:
  - host: $MYASERVER
    http:
      paths:
      - pathType: Prefix
        path: "/"
        backend:
          service:
            name: icore$APPID-debug
            port:
              number: 8000
          service:
            name: icore$APPID
            port:
              number: 80
