apiVersion: apps/v1
kind: Deployment
metadata:
  name: stockstat-dbclone$APPID
  labels:
    app: dbclone$APPID
spec:
  replicas: 1
  selector:
    matchLabels:
      app: dbclone$APPID
  template:
    metadata:
      labels:
        app: dbclone$APPID
    spec:
      containers:
      - name: stockstat-dbclone
        image: stockstat-dbclone$IMGID
