apiVersion: apps/v1
kind: Deployment
metadata:
  name: iwebcore
  labels:
    app: iwebcore
spec:
  replicas: 1
  selector:
    matchLabels:
      app: iwebcore
  template:
    metadata:
      labels:
        app: iwebcore
    spec:
      containers:
      - name: iwebcore
        image: iwebcore
        ports:
        - containerPort: 80
---
apiVersion: v1
kind: Service
metadata:
  name: iwebcore
  labels:
    app: iwebcore
spec:
  ports:
  - port: 80
    protocol: TCP
    targetPort: 80
  selector:
    app: iwebcore
  sessionAffinity: None  
status:
  loadBalancer: {}    
---
apiVersion: networking.k8s.io/v1beta1
kind: Ingress
metadata:
  name: name-virtual-host-ingress-iwebcore
  annotations:
    kubernetes.io/ingress.class: "nginx"
    nginx.ingress.kubernetes.io/proxy-read-timeout: "1800"
    nginx.ingress.kubernetes.io/proxy-send-timeout: "1800"
spec:
  rules:
  - host: $MYISERVER
    http:
      paths:
      - backend:
          serviceName: iwebcore
          servicePort: 80
