<config>
  <misc>
    <cache enable='$CACHE'>
      <ttl>$CACHETTL</ttl>
    </cache>
    <myservices>$MYSERVICES</services>
    <services>$SERVICES</services>
    <communications>$COMMUNICATIONS</communications>
  </misc>
</config>
