<config>
  <misc>
    <cache enable='$CACHE'>
      <ttl>$CACHETTL</ttl>
    </cache>
    <myservices>$MYSERVICESISIM</myservices>
    <services>$SERVICES</services>
    <communications>$COMMUNICATIONS</communications>
    <zookeeper>$ZOOKEEPER</zookeeper>
    <inmemory><server>$INMEMORYSERVER</server></inmemory>
    <inmemory><redis>$INMEMORYREDIS</redis></inmemory>
  </misc>
  <evolve>
    <save>
	<location>$SAVELOCATION</location>
	<path>$SAVEPATH</path>
    </save>
  </evolve>
  $ISIMMARKETS
</config>
