apiVersion: apps/v1
kind: Deployment
metadata:
  name: stockstat-evolve$APPID
  labels:
    app: evolve$APPID
spec:
  replicas: 1
  selector:
    matchLabels:
      app: evolve$APPID
  template:
    metadata:
      labels:
        app: evolve$APPID
    spec:
      containers:
      - name: stockstat-evolve
        image: stockstat-evolve$IMGID
        ports:
        - containerPort: 8000
        - containerPort: 80
---
apiVersion: v1
kind: Service
metadata:
  name: stockstat-evolve$APPID
  labels:
    app: evolve$APPID
spec:
  type: NodePort
  ports:
  - port: 8000
    name: stockstat-debug
    protocol: TCP
    targetPort: 8000
  selector:
    app: evolve$APPID
  sessionAffinity: None  
status:
  loadBalancer: {}    
