  <h1>bla</h1>
  <h2>A{{count}}A</h2>
    <!--mytable [value]="testarray">table</mytable-->
  <div>
    <br/>
    </div>
<nav mat-tab-nav-bar class="d-none d-sm-flex">
<mat-tab-group>
  <mat-tab>
    <ng-template mat-tab-label>
      <!--mat-icon>thumb_down</mat-icon-->
      Market
    </ng-template>
    <market bla='bla'>bla</market>
    <p>...</p>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <!--mat-icon>thumb_down</mat-icon-->
      Configuration
    </ng-template>
    <configuration bla='bla'>bla</configuration>
    <p>...</p>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <!--mat-icon>thumb_down</mat-icon-->
      Market
    </ng-template>
    <iclijmarket bla='bla'>bla</iclijmarket>
    <p>...</p>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <!--mat-icon>thumb_down</mat-icon-->
      Configuration
    </ng-template>
    <iclijconfiguration bla='bla'>bla</iclijconfiguration>
    <p>...</p>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <!--mat-icon>thumb_down</mat-icon-->
      Control Panel
    </ng-template>
    <controlpanel bla='bla'>bla</controlpanel>
    <p>...</p>
  </mat-tab>
  <div *ngFor="let list of mytabs">
  <mat-tab>
    <ng-template mat-tab-label>
      <!--mat-icon>thumb_down</mat-icon-->
      Result
    </ng-template>
    <h1>before</h1>
    <div *ngFor="let value of list" [ngSwitch]="value._class">
      <ng-template ngSwitchCase="roart.model.ResultItemStream">
	<myimage [value]="value">image</myimage>
	</ng-template>
      <ng-template ngSwitchCase="roart.model.ResultItemTable">
	<mytable [value]="value">table</mytable>
	</ng-template>
    </div>
    <h1>after</h1>
    <p>...</p>
  </mat-tab>
    </div>
</mat-tab-group>
</nav>
<br/>
<div>
  <button class="mat-raised-button" (click)="increment($event)">increment</button>
  <button class="mat-raised-button" (click)="incrementAsync($event)">increment async</button>
</div>
<div [@routeAnimations]="o.isActivated && o.activatedRoute.routeConfig.path">
  <router-outlet #o="outlet"></router-outlet>
</div>
