apiVersion: v1
kind: PersistentVolume
metadata:
  name: stockstat-tensorflowdatapv
spec:
  storageClassName: manual
  capacity:
    storage: 1G
  accessModes:
    - ReadWriteMany
  claimRef:
    namespace: default
    name: stockstat-tensorflowdatapv
  hostPath:
    path: "/data/tensorflowdata"
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: stockstat-tensorflowdatapv
spec:
  # Specify "" as the storageClassName so it matches the PersistentVolume's StorageClass.
  # A nil storageClassName value uses the default StorageClass. For details, see
  # https://kubernetes.io/docs/concepts/storage/persistent-volumes/#class-1
  storageClassName: ""
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: 1G
