apiVersion: apps/v1
kind: Deployment
metadata:
  name: iwebr
  labels:
    app: iwebr
spec:
  replicas: 1
  selector:
    matchLabels:
      app: iwebr
  template:
    metadata:
      labels:
        app: iwebr
    spec:
      containers:
      - name: iwebr
        image: iwebr
        #imagePullPolicy: Never
        ports:
        - containerPort: 80
---
apiVersion: v1
kind: Service
metadata:
  name: iwebr
  labels:
    app: iwebr
spec:
  type: NodePort
  ports:
  - port: 80
    protocol: TCP
    targetPort: 80
  selector:
    app: iwebr
  sessionAffinity: None  
status:
  loadBalancer: {}    
---
apiVersion: networking.k8s.io/v1
kind: IngressClass
metadata:
  labels:
    app.kubernetes.io/component: controller
  name: stockstat-iwebr
  annotations:
    ingressclass.kubernetes.io/is-default-class: "false"
spec:
  controller: k8s.io/ingress-nginx
---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: name-virtual-host-ingress-iwebr
spec:
  ingressClassName: stockstat-iwebr
  rules:
  - host: $MYIWEB
    http:
      paths:
      - pathType: Prefix
        path: "/"
        backend:
          service:
            name: iwebr
            port:
              number: 80
