{
  "presets": [
    "@babel/preset-env",
    "@babel/preset-react",
    "@babel/preset-typescript"
  ],
  "env": {
    "development": {
    },
    "production": {
    },
  },
  "plugins": [
    ["typecheck", {
      "disable": {
        "production": true
      }
    }],
  ]
}
