apiVersion: skaffold/v2beta1
kind: Config
build:
  artifacts:
  - image: stockstat-webr$IMGID
    context: ../../..
    docker:
      dockerfile: docker/cloud/webr/Dockerfile
      buildArgs:
        docroot: '{{.WEBRDOCROOT}}'
        myserver: '{{.MYSERVER}}'
        myport: '{{.MYPORT}}'
        mywebport: "80"
  - image: stockstat-iwebr$IMGID
    context: ../../..
    docker:
      dockerfile: docker/cloud/webr/Dockerfile
      buildArgs:
        docroot: '{{.IWEBRDOCROOT}}'
        myaserver: '{{.MYASERVER}}'
        myaport: '{{.MYAPORT}}'
        myiserver: '{{.MYISERVER}}'
        myiport: '{{.MYIPORT}}'
        myserver: '{{.MYSERVER}}'
        myport: '{{.MYPORT}}'
        mywebport: "80"
deploy:
  kubectl:
    manifests:
    - webr/deployment.yaml
    - iwebr/deployment.yaml
