apiVersion: skaffold/v2beta1
kind: Config
metadata:
  name: stockstat-core
build:
  artifacts:
  - image: stockstat-sparkdata$APPID
    context: ../../..
    docker:
      dockerfile: docker/cloud/sparkdata/Dockerfile
      buildArgs:
        mydata: '{{.MYSPARKDATA}}'
  - image: stockstat-core$IMGID
    context: ../../..
    docker:
      dockerfile: docker/cloud/core/Dockerfile
      buildArgs:
        distlib: '{{.DISTLIB}}'
        distjar: '{{.COREJAR}}'
        mywebport: "80"
        mydbserver: '{{.MYDBSERVER}}'
        mydbserverport: '{{.MYDBSERVERPORT}}'
        mydbserverdb: '{{.MYDBSERVERDB}}'
        myconfig: '{{.MYCONFIG}}'
        springdataurl: '{{.SPRINGDATAURL}}'
        springdatausername: '{{.SPRINGDATAUSERNAME}}'
        springdatapassword: '{{.SPRINGDATAPASSWORD}}'
        springdatadriver: '{{.SPRINGDATADRIVER}}'
        mydebug: '{{.MYDEBUG}}'
        jdk_java_options: '{{.JDK_JAVA_OPTIONS}}'
  - image: stockstat-icore$IMGID
    context: ../../..
    docker:
      dockerfile: docker/cloud/iclij/Dockerfile
      buildArgs:
        distlib: '{{.DISTLIB}}'
        distjar: '{{.ICOREJAR}}'
        myserver: '{{.CORESERVER}}'
        myport: "80"
        myaport: "80"
        myiport: "80"
        mywebport: "80"
        mydbserver: '{{.MYDBSERVER}}'
        mydbserverport: '{{.MYDBSERVERPORT}}'
        mydbserverdb: '{{.MYDBSERVERDB}}'
        myconfig: '{{.MYICONFIG}}'
        springdataurl: '{{.SPRINGDATAURL}}'
        springdatausername: '{{.SPRINGDATAUSERNAME}}'
        springdatapassword: '{{.SPRINGDATAPASSWORD}}'
        springdatadriver: '{{.SPRINGDATADRIVER}}'
        mydebug: '{{.MYDEBUG}}'
        jdk_java_options: '{{.JDK_JAVA_OPTIONS}}'
  - image: stockstat-iwebcore$IMGID
    context: ../../..
    docker:
      dockerfile: docker/cloud/iclij/Dockerfile
      buildArgs:
        distlib: '{{.DISTLIB}}'
        distjar: '{{.IWEBCOREJAR}}'
        myaserver: '{{.ACORESERVER}}'
        myiserver: '{{.ICORESERVER}}'
        myserver: '{{.CORESERVER}}'
        myport: "80"
        myaport: "80"
        myiport: "80"
        mywebport: "80"
        mydbserver: '{{.MYDBSERVER}}'
        mydbserverport: '{{.MYDBSERVERPORT}}'
        mydbserverdb: '{{.MYDBSERVERDB}}'
        myconfig: '{{.MYICONFIG}}'
        springdataurl: '{{.SPRINGDATAURL}}'
        springdatausername: '{{.SPRINGDATAUSERNAME}}'
        springdatapassword: '{{.SPRINGDATAPASSWORD}}'
        springdatadriver: '{{.SPRINGDATADRIVER}}'
        mydebug: '{{.MYDEBUG}}'
        jdk_java_options: '{{.JDK_JAVA_OPTIONS}}'
  - image: stockstat-sim$IMGID
    context: ../../..
    docker:
      dockerfile: docker/cloud/iclij/Dockerfile
      buildArgs:
        distlib: '{{.DISTLIB}}'
        distjar: '{{.SIMJAR}}'
        mydbserver: '{{.MYDBSERVER}}'
        mydbserverport: '{{.MYDBSERVERPORT}}'
        mydbserverdb: '{{.MYDBSERVERDB}}'
        myconfig: '{{.MYSCONFIG}}'
        springdataurl: '{{.SPRINGDATAURL}}'
        springdatausername: '{{.SPRINGDATAUSERNAME}}'
        springdatapassword: '{{.SPRINGDATAPASSWORD}}'
        springdatadriver: '{{.SPRINGDATADRIVER}}'
        mydebug: '{{.MYDEBUG}}'
        jdk_java_options: '{{.JDK_JAVA_OPTIONS}}'
  - image: stockstat-evolve$IMGID
    context: ../../..
    docker:
      dockerfile: docker/cloud/iclij/Dockerfile
      buildArgs:
        distlib: '{{.DISTLIB}}'
        distjar: '{{.EVOLVEJAR}}'
        mydbserver: '{{.MYDBSERVER}}'
        mydbserverport: '{{.MYDBSERVERPORT}}'
        mydbserverdb: '{{.MYDBSERVERDB}}'
        myconfig: '{{.MYECONFIG}}'
        springdataurl: '{{.SPRINGDATAURL}}'
        springdatausername: '{{.SPRINGDATAUSERNAME}}'
        springdatapassword: '{{.SPRINGDATAPASSWORD}}'
        springdatadriver: '{{.SPRINGDATADRIVER}}'
        mydebug: '{{.MYDEBUG}}'
        jdk_java_options: '{{.JDK_JAVA_OPTIONS}}'
deploy:
  kubectl:
    manifests:
    - sparkdata/deployment.yaml
    - core/deployment.yaml
    - icore/deployment.yaml
    - iwebcore/deployment.yaml
    - sim/deployment.yaml
    - evolve/deployment.yaml
